body {
	background: #aaa;
	margin: 0;
}

#square {
	width: 100px;
	height: 100px;
	background: #11b;
	position: fixed;
	left: 0;
	-webkit-animation-name: square-dance;
	-webkit-animation-duration: 10s;
	-webkit-animation-easing: ease-out;
}

@-webkit-keyframes square-dance {
    0% { left: 0px; }
    25% { 
    	left: calc(100% - 100px); 
    	top: 0px; 
    }
    50% { 
    	left: calc(100% - 100px); 
    	top: calc(100% - 100px); 
    }
    75% { 
    	left: 0px; 
    	top: calc(100% - 100px); 
    }
    100% { 
    	left: 0px; 
    	top: 0px; 
    }
}